name: Deploy Application

on:
  push:
    branches: [main]

jobs:
  checkout-code:
    name: Checkout and Upload Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-artifact@v4
        with:
          name: app-code
          path: .
          retention-days: 1

  merge-main:
    needs: checkout-code
    permissions:
      id-token: write
    uses: magtutu/shared-actions/.github/workflows/app-merge.yml@main
    with:
      app-name: actions-consumer
