name: Deploy Application

on:
  push:
    branches: [main]

jobs:
  check-vars:
    name: Check Variables in Consumer
    runs-on: ubuntu-latest
    steps:
      - name: Check secret and variable access
        uses: magtutu/shared-actions/check-vars@main
        env:
          DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
          DEPLOY_INFO: ${{ vars.DEPLOY_INFO }}
        with:
          context-name: actions-consumer workflow
  
  merge-main:
    name: Deploy Pipeline
    needs: check-vars
    permissions:
      id-token: write
    uses: magtutu/shared-actions/.github/workflows/app-merge.yml@main
    with:
      app-name: actions-consumer
