name: Deploy Application

on:
  push:
    branches: [main]

jobs:
  inspect-token:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for requesting the JWT
      contents: read  # Required for checkout
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get OIDC Token
        id: get_token
        run: |
          # Request an OIDC token with a specific audience (optional but recommended)
          echo ACTIONS_ID_TOKEN_REQUEST_TOKEN=$ACTIONS_ID_TOKEN_REQUEST_TOKEN
          echo ACTIONS_ID_TOKEN_REQUEST_URL=$ACTIONS_ID_TOKEN_REQUEST_URL
          TOKEN=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=my-custom-audience")
          # Extract the JWT value (using jq for JSON parsing)
          JWT=$(echo $TOKEN | jq -r '.value')
          echo "OIDC_JWT=$JWT"

  checkout-code:
    name: Checkout and Upload Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-artifact@v4
        with:
          name: app-code
          path: .
          retention-days: 1

  merge-main:
    name: Deploy Pipeline
    needs: checkout-code
    permissions:
      id-token: write
    uses: magtutu/shared-actions/.github/workflows/app-merge.yml@main
    with:
      app-name: actions-consumer
